<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Generator</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <header>
        <h1>Data Generator</h1>
    </header>
    <main id="main">
        <button id="generate-btn">Generate Data</button>
        <div class="data-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th>isManager</th>
                    </tr>
                </thead>
                <tbody id="data-table">
                    <!-- Data will be inserted here -->

                </tbody>
            </table>
        </div>
    </main>
    <div class="loader"></div>

    <script src="/public/js/script.js"></script>
</body>
</html>