.box {
    width:100px;
    height:100px;
    border: 1px solid black;
    box-shadow: 5px 2px 5px 0 rgba(0,0,0,0.8);
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Segoe UI';
    font-style: bold;
    font-size: 20px;
}

#button {
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

#button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}

